/* stylelint-disable selector-list-comma-newline-after */
/* body {
  scroll-behavior: smooth;
} */

.t1 {
  border: solid 20px rgb(247, 4, 174);
}

.m1 {
  border: solid 10px rgb(247, 203, 4);
  position: relative;
}

.f1 {
  margin-top: 15px;
  border: solid 2px rgb(20, 4, 247);
}

#t1 {
  border: solid 2px green;
}

.r1 {
  border: solid 10px rgb(128, 0, 0);
}

.darkest {
  background-image: url("../images/Denis/DarkestDunge.jpg");
  background-size: cover;
}

.witch {
  background-image: url("../images/Denis/Witch.jpg");
  background-size: cover;
}

.Shambler {
  background-image: url("../images/Denis/Shambler.jpg");
  background-size: cover;
}

.Counter-Strik { 
  background-image: url("../images/Denis/Counter-Strikjpg");
  background-size: cover;
}

.c2, .r2{
  border: solid 10px rgb(255, 0, 0);
}

#close {
  position: relative;
  /* border: solid 2px rgb(231, 15, 62); */
  height: 64px;
  margin-top: -50px;
}

#closeAngry {
  float: right;
  background: transparent;
  border: none;
}

.popupAngry, .popupDesc, .popupRiders {
  border: solid 10px rgb(53, 23, 88);
  width: 100%;
  height: 100%;
  background-color: rgb(36, 202, 194);
  /* visibility: hidden; */
  display: none;
  /* z-index: 99; */
  /* position:relative; */
  /* top:-20%;
  right:0px;
  bottom:0px;
  left:0px; */
}

#content {
  position: relative;
  /* padding: 40px; */
  /* max-width: 1400px;     */
  width: calc(300px + (1700 - 400) * ((100vw - 800px) / (1920 - 800))) ;
  margin: 0 auto;
  /* padding-right: 500px; */
  /* border: 1px solid blue; */
}

#content .grid {
  position: relative;
  /* background: rgba(255, 255, 200, 0.5); */
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(270px*0.75, 1fr*0.75)); */
  row-gap: 10px; 
}

#content .item {
  position: relative;
  display: inline-block;
  background: rgba(200, 255, 255, 0.5);
  background-size: cover;
  /* box-shadow: 0 0 0 3px #000; */
  padding-top: 75%;
}

#content .item .div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #930;
  /* border: 2px solid green; */
}

#content .item img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}


.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
  * Blog posts
  */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
  * Footer
  */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}  