#leonid1 {
    margin-top: 50px;
    margin-left: 0px;
    border: solid rgb(255, 0, 34);
    width: 250px;
    height: 250px;
    color: rgb(0, 4, 255);
}

#leonid2 {
    margin-top: 50px;
    margin-left: 400px;
    border: solid rgb(0, 255, 34);
    width: 250px;
    height: 250px;
    color: rgb(0, 4, 255);
}
/* stylelint-disable selector-list-comma-newline-after */

/* .t1 {
    border: solid 20px rgb(247, 4, 174);
  }
  
  .m1 {
    border: solid 10px rgb(247, 203, 4);
  }
  
  .f1 {
    margin-top: 15px;
    border: solid 2px rgb(20, 4, 247);
  }
  
  #t1 {
    border: solid 2px green;
  }
  
  .r1 {
    border: solid 10px rgb(128, 0, 0);
  } */
  
  .angrybirds { 
    background-image: url("../images/leonid/ab.jpg");
    background-size: cover;
  }

  .descenders {
    background-image: url("../images/leonid/descenders.jpg");
    background-size: cover;
  }

  .masha {
    background-image: url("../images/leonid/masha.jpg");
    background-size: cover;
  }

  .riders {
    background-image: url("../images/leonid/riders.jpg");
    background-size: cover;
  }

  .warner {
    background-image: url("../images/leonid/wb.jpg");
    background-size: cover;
  }

  .sov {
    background-image: url("../images/leonid/sov.jpg");
    background-size: cover;
  }

  .pizza { 
    background-image: url("../images/leonid/piz.jpg");
    background-size: cover;
  }

  .mac { 
    background-image: url("../images/leonid/mac.jpg");
    background-size: cover;
  }

  .sushi { 
    background-image: url("../images/leonid/sushi.jpg");
    background-size: cover;
  }

  .about { 
    background-image: url("../images/leonid/about.png");
    background-size: cover;
  }

  .school { 
    background-image: url("../images/leonid/school.jpg");
    background-size: cover;
  }

  .hobby { 
    background-image: url("../images/leonid/hobby.jpg");
    background-size: cover;
  }

  .ang1 { 
    background-image: url("../images/leonid/angry1.jpg");
    background-size: cover;
  }

  .ang2 { 
    background-image: url("../images/leonid/angry2.jpg");
    background-size: cover;
  }

  .des1 { 
    background-image: url("../images/leonid/desc1.jpg");
    background-size: cover;
  }

  .des2 { 
    background-image: url("../images/leonid/desc2.jpg");
    background-size: cover;
  }

  .des3 { 
    background-image: url("../images/leonid/desc3.jpg");
    background-size: cover;
  }

  .ridge1 { 
    background-image: url("../images/leonid/rid1.jpg");
    background-size: cover;
  }

  .ridge2 { 
    background-image: url("../images/leonid/rid2.jpg");
    background-size: cover;
  }

  .ridge3 { 
    background-image: url("../images/leonid/rid3.jpg");
    background-size: cover;
  }

  .mash1 { 
    background-image: url("../images/leonid/ma1.jpeg");
    background-size: cover;
  }

  .mash2 { 
    background-image: url("../images/leonid/ma2.jpg");
    background-size: cover;
  }

  .mash3 { 
    background-image: url("../images/leonid/ma3.jpg");
    background-size: cover;
  }

  .sov1 { 
    background-image: url("../images/leonid/sv1.jpg");
    background-size: cover;
  }

  .sov2 { 
    background-image: url("../images/leonid/sv2.jpg");
    background-size: cover;
  }

  .sov3 { 
    background-image: url("../images/leonid/sv3.jpg");
    background-size: cover;
  }

  .pizz1 { 
    background-image: url("../images/leonid/piz1.jpg");
    background-size: cover;
  }

  .pizz2 { 
    background-image: url("../images/leonid/piz2.jpg");
    background-size: cover;
  }

  .pizz3 { 
    background-image: url("../images/leonid/piz3.jpeg");
    background-size: cover;
  }

  .mccn1 { 
    background-image: url("../images/leonid/mcn1.jpg");
    background-size: cover;
  }

  .mccn2 { 
    background-image: url("../images/leonid/mcn2.jpg");
    background-size: cover;
  }

  .mccn3 { 
    background-image: url("../images/leonid/mcn3.jpg");
    background-size: cover;
  }

  .sush1 { 
    background-image: url("../images/leonid/sus1.jpg");
    background-size: cover;
  }

  .sush2 { 
    background-image: url("../images/leonid/sus2.jpg");
    background-size: cover;
  }

  .sush3 { 
    background-image: url("../images/leonid/sus3.jpg");
    background-size: cover;
  }

  .abo3 { 
    background-image: url("../images/leonid/poo3.jpg");
    background-size: cover;
  }

  .hobot2 { 
    background-image: url("../images/leonid/poo2.jpg");
    background-size: cover;
  }

  .hobot3 { 
    background-image: url("../images/leonid/poo3.jpg");
    background-size: cover;
  }

  /* .c2, .r2{
    border: solid 10px rgb(238, 255, 0);
  } */
  
  .popupBirds, .popupDescenders, .popupRiders, .popupBear, .popupWB, .popupSoviet, .popupPizza, .popupMcn, .popupSus, .popupAbout, .popupSchool, .popupHob {
    border: solid 10px rgb(53, 23, 88);
    width: 100%;
    height: 100%;
    background-color: rgb(36, 202, 194);
    display: none;
  }

  .blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }  

  #content {
    position: relative;
    /* padding: 40px; */
    /* max-width: 1400px;     */
    width: calc(300px + (1700 - 400) * ((100vw - 800px) / (1920 - 800))) ;
    margin: 0 auto;
    /* padding-right: 500px; */
    /* border: 1px solid blue; */
  }
  
  #content .grid {
    position: relative;
    /* background: rgba(255, 255, 200, 0.5); */
    /* max-width: 1400px; */
    /* margin: 0 auto; */
    /* margin-right: 0px; */
    /* padding-top: 0px; */
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(270px*0.75, 1fr*0.75)); */
    row-gap: 20px; 
  }

  #content .item {
    position: relative;
    display: inline-block;
    background-size: cover;
    /* box-shadow: 0 0 0 3px #000; */
    padding-top: 75%;
  }
  
  #content .item .div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 5%;
    /* border: 2px solid green; */
  }
  
  #content .item img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }

  .form-5 {
    /* Size and position */
    width: 300px;
    margin: 60px auto 30px;
    position: relative;
 
    /* Styles */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1);
}

.form-5 p {
  width: 70%;
  float: left;
  border-radius: 5px 0 0 5px;
  border: 1px solid #fff;
  border-right: none;
}

.form-5 input[type=text],
.form-5 input[type=password] {
  /* Size and position */
  width: 100%;
  height: 50px;
  padding: 0 10px;

  /* Styles */
  border: none; /* Remove the default border */
  background: white; /* Fallback */
  background: rgba(255,255,255,0.2);
  box-shadow:
      inset 0 0 10px rgba(255,255,255,0.5);

  /* Font styles */
  font-family: 'Montserrat', sans-serif;
  text-indent: 10px;
  color: #ee4c8d;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  font-size: 20px;      
}

.form-5 input[type=text] {
  border-bottom: 1px solid #fff; /* Fallback */
  border-bottom: 1px solid rgba(255,255,255,0.7);
  border-radius: 5px 0 0 0;
}

.form-5 input[type=password] {
  border-top: 1px solid #CCC; /* Fallback */
  border-top: 1px solid rgba(0,0,0,0.1);
  border-radius: 0 0 0 5px;
}

.form-5 input[type=text]:hover,
.form-5 input[type=password]:hover,
.form-5 input[type=text]:focus,
.form-5 input[type=password]:focus {
    background: #f7def7; /* Fallback */
    background: rgba(255,255,255,0.4);
    outline: none;
}
 
.form-5 input::-webkit-input-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: 'Handlee', cursive;
}
 
.form-5 input:-moz-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: 'Handlee', cursive;
}
 
.form-5 input:-ms-input-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: 'Handlee', cursive;
}

.form-5 button {
  /* Size and position */
  width: 30%;
  height: 102px;
  float: left;
  position: relative;
  overflow: hidden;

  /* Styles */
  background:
      url(../images/noise.png),
      radial-gradient(ellipse at center, #ee4c8d 0%,#b53467 100%);
  border-radius: 0 5px 5px 0;
  box-shadow:
      inset 0 0 4px rgba(255, 255, 255, 0.7),
      inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  border: none;
  border-left: 1px solid silver;
  cursor: pointer;
  line-height: 102px; /* Same as height */
}

.form-5 button i {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -20px;
  font-size: 64px;
  line-height: 109px;
  color: #8d1645;
  opacity: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
  transition: all 0.2s ease-out;
}

.form-5 button span {
  display: block;

  /* Font styles */
  color: #8d1645;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
  transform: rotate(-90deg);
  transition: all 0.2s linear;
}

.form-5 button:focus {
  outline: none;
}

.form-5 button:hover span,
.form-5 button:focus span {
  opacity: 0;
  transform: rotate(-90deg) translateY(-20px);
}

.form-5 button:hover i,
.form-5 button:focus i {
  opacity: 0.5;
  left: 0;
  transition-delay: 0.2s;
}

/* Click on button */

.form-5 button:active span,
.form-5 button:active i {
  transition: none;
}

.form-5 button:active span {
  opacity: 0;
}

.form-5 button:active i {
  opacity: 0.5;
  left: 0;
  color: #fff;
}