#one {
    margin-top: 50px;
    margin-left: 200px;
    border: solid rgb(172, 150, 153);
    width: 350px;
    height: 350px;
    color: rgb(167, 51, 128);

}
#two {
    margin-top: 50px;
    margin-left: 200px;
    border: solid rgb(37, 42, 116);
    width: 350px;
    height: 350px;
    color: rgb(63, 184, 178);

}
#three {
    margin-top: 50px;
    margin-left: 200px;
    border: solid rgb(42, 188, 207);
    width: 350px;
    height: 350px;
    color: rgb(176, 201, 36);

}
#four {
    margin-top: 50px;
    margin-left: 200px;
    border: solid rgb(47, 248, 6);
    width: 350px;
    height: 350px;
    color: rgb(158, 54, 36);
}